repos:
  - repo: local
    hooks:
      - id: nixfmt-rfc-style
        name: nixfmt (rfc-style)
        entry: nix fmt
        language: system
        pass_filenames: false
      - id: deadnix
        name: deadnix
        entry: nix run nixpkgs#deadnix -- --fail
        language: system
        pass_filenames: false
      - id: statix
        name: statix
        entry: nix run nixpkgs#statix -- check
        language: system
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
