name: Validate Flake

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Check formatting
        run: nix fmt -- --ci

      - name: Run nix flake check
        run: nix flake check
